<?xml version="1.0" encoding="utf-8"?>
<phpdox xmlns="http://phpdox.de/config" silent="false">
  <bootstrap/>
  <project name="ConSeats" source="src" workdir="build/phpdox">
    <collector publiconly="false">
      <include mask="*.php"/>
      <exclude mask=""/>
    </collector>
    <generator output="build">
      <build engine="html" enabled="true" output="api">
        <template dir="${phpDox.home}/templates/html"/>
      </build>
    </generator>
  </project>
</phpdox>
